@{
    ViewBag.Title = "Contact Hemphill, LLC";
}
<div class="container-fluid">
    <center><h1>@ViewBag.Title</h1></center>
    <br />
    <div class="row">           
        <div class="col-md-4">
            <address>
                <strong><font size="4">Main Office</font></strong><br />
                1305 N Louisville Ave.<br />
                Tulsa, OK 74115<br />
                <br />
                Phone: 918-834-2200<br />
                Fax: 918-836-6918<br />
            </address>
            <address>
                <strong><font size="4">Support:</font></strong><br />
                <a href="mailto:support@hemphill.com">support@hemphill.com</a><br />
                <br />
                <strong><font size="4">Sales:</font></strong><br />
                <a href="mailto:sales@hemphill.com">sales@hemphill.com</a>
            </address>
        </div>
        <div class="col-md-4">
            <address>
                <strong><font size="4">President</font></strong><br />
                John R. Hemphill<br />
                <a href="mailto:jhemphill@hemphill.com">jhemphill@hemphill.com</a><br />
                <br />
                <strong><font size="4">Director of Tower Site Development</font></strong><br />
                Gary Connelly<br />
                <a href="mailto:gconnelly@hemphill.com">gconnelly@hemphill.com</a><br />
                <br />
                <strong><font size="4">Director of Manufacturing</font></strong><br />
                Dave Morrison<br />
                <a href="mailto:dmorrison@hemphill.com">dmorrison@hemphill.com</a><br />
                <br />
            </address>
        </div>
        <div class="col-md-4">
            <address>
                <strong><font size="4">Director of Business Development</font></strong><br />
                Rhonda Hunt<br />
                918-606-4257<br />
                <a href="mailto:rhonda.hunt@rocketmail.com">rhonda.hunt@rocketmail.com</a><br />
                <br />
                <strong><font size="4">National Sales Manager</font></strong><br />
                Tom Swan<br />
                <a href="mailto:tswan@hemphill.com">tswan@hemphill.com</a><br />
                <br />
                <strong><font size="4">Office Manager</font></strong><br />
                Jennifer Dreyer<br />
                <a href="mailto:jdreyer@hemphill.com">jdreyer@hemphill.com</a>
            </address>
        </div>
    </div>
</div>