@{
    ViewBag.Title = "Hemphill, LLC";
}
<div style="padding-top:20px;">
    <div class="bp-hs" id="demo-default">
        <div class="bp-hs_inner">
            <div class="bp-hs_inner__item">
                <img src="~/img/indexSlide1.jpg"/>
            </div>
            <div class="bp-hs_inner__item">
                <img src="~/img/indexSlide2.jpg"/>
            </div>
            <div class="bp-hs_inner__item">
                <img src="~/img/indexSlide3.jpg"/>
            </div>
            <div class="bp-hs_inner__item">
                <img src="~/img/indexSlide4.jpg"/>
            </div>
        </div>
    </div>
</div>

<div style="width:100%; background-color:#eef1f4; border-top:5px solid #0e2e51; padding:25px 20px 20px 20px; margin-top: 40px;">
  <p>This is your world. Just go back and put one little more happy tree in there. Let's go up in here, and start having some fun Very easy to work these to death. I was blessed with a very steady hand; and it comes in very handy when you're doing these little delicate things. You can spend all day playing with mountains.</p>
</div>

<div style="padding-top:40px; padding-bottom:20px; float:left; width:600px;">
    <div>
        <div style="float:left;">
            <img src="~/img/indexTile1.jpg" />
        </div>
        <div style="padding-left:20px; margin-top:20px; margin-right:20px; float:left;">
            A Brief Summary of Hemphill, LLC
            <br />
            <br />
            <b><a href="http://www.reddit.com"><font color='#0e2e51'>Read More</b></font>
            <font color="#cb9938"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            </font>
        </div>
    </div>
    <div style="padding-top:20px; clear:both;">
        <div style="float:left;">
            <img src="~/img/indexTile2.jpg" />
        </div>
        <div style="margin-top:10px; padding-left:220px; margin-right:20px; word-wrap:break-word;">
            Hemphill, LLC scheduled to construct 100+ towers through 2017, more to come
            <br />
            <br />
            <b><a href="http://www.reddit.com"><font color='#0e2e51'>Read More</b></font>
            <font color="#cb9938"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            </font>
        </div>
    </div>
    <div style="padding-top:20px; clear:both;">
        <div style="float:left;">
            <img src="~/img/indexTile3.jpg" />
        </div>
        <div style="padding-left:220px; margin-top:10px; margin-right:20px; word-wrap:break-word;">
            Renewable energy reaching new heights in the U.S.; Congress to extend subsidies
            <br />
            <br />
            <b><a href="http://www.reddit.com"><font color='0e2e51'>Read More</b></font>
            <font color="#cb9938"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            </font>
        </div>
    </div>
    <div style="padding-top:20px; clear:both;">
        <div style="float:left;">
            <img src="~/img/indexTile4.jpg" />
        </div>
        <div style="padding-left:220px; margin-top:10px; margin-right:20px; word-wrap:break-word;">
            Wireless carriers looking to expand coverage in Southeast U.S.
            <br />
            <br />
            <b><a href="http://www.reddit.com"><font color='0e2e51'>Read More</b></font>
            <font color="#cb9938"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            </font>
        </div>
    </div>
</div>

<div style="float:left; padding: 0px 0px 20px 20px; margin-top:40px; width:540px; height:auto; background-color:#eef1f4; border-top:5px solid #0e2e51;">
    <div style="color:#cb9938;">
        <h2>Hemphill News</h2>
    </div>
    <div style="word-wrap:break-word; font-size:16px;">
        <a href="http://www.digg.com">Meet the Man Behind the Business: An Interview with John R. Hemphill</a>
    </div>
    <div style="padding-top:10px;">
        Posted: @DateTime.Today 
    </div>
    <br />
    <div style="word-wrap:break-word; font-size:16px;">
        <a href="http://www.reddit.com">From Underground to On-The-Air; The Hemphill Legacy</a>
    </div>
    <div style="padding-top:10px;">
        Posted: @DateTime.Today
    </div>
    <br />
    <div style="word-wrap:break-word; font-size:16px;">
        <a href="http://www.stumbleupon.com">Ice Cream Sun-daes! How Solar Is Powering Your Favorite Desserts!</a>
    </div>
    <div style="padding-top:10px;">
        Posted: @DateTime.Today
    </div>
    <br />
    <br />
    <div>
        <a href="http://www.apple.com">View Past Entries</a>
    </div>
</div>

<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="~/Scripts/touchSwipe.min.js"></script>
<script src="~/Scripts/bpHS.min.js"></script>
<script src="~/Scripts/custom.js"></script>