body {
	color: #333;
	font-size: 18px;
	font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

#header {
	background-color: #2a2a2a;
	width: 100%;
	color: white;
	padding: 20px 30px;
}

p {
	color: #444;
}

h1,h2,h3 {
	font-family: 'Roboto Condensed', serif;
	font-weight: 400;
}

.feature {
	max-width: 31.33%;
	float: left;
	background-color: #eee;
	margin: 0 1%;
	padding: 20px;
}

.feature:last-child {
	margin-right: 0px;
}

.feature:first-of-type {
	margin-left: 0px;
}

.logo {
	float: left;
}

#nav {
	float: right;
	padding-top: 10px;
}

#nav li {
	display: inline;
	margin-left: 20px;
	font-family: 'Roboto Condensed', serif;
	font-weight: 300;
}

#nav a {
	color: white;
	text-decoration: none;
}

#footer {
	max-width: 1000px;
	margin: 0px auto;
	border-top: 1px solid #ddd;
	padding: 30px 0;
}

#footer p {
	color: #999;
	font-size: 15px;
}

.headline {
	text-align: center;
	color: white;
	font-size: 60px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 160px;
	font-weight: 400;
	font-family: 'Roboto Condensed', serif;
}

.intro {
	font-size: 24px;
	padding-bottom: 10px;
	text-align: center;
}

.inner {
	max-width: 1000px;
	margin: 0 auto;
	padding: 40px 20px;
}

.soc {
	float: right;
	margin-left: 10px;
}

.circle {
    width:70px;
    height:70px;
    border-radius:250px;
    font-size:20px;
    color:#fff;
    line-height:70px;
    text-align:center;
    background-color:#e67548;
    margin-bottom: 15px;
}

.copyright {
	float: left;
}

.portfolio {
	padding: 20px;
	margin-top: 40px;
	background-color: #eee;
}

input {
	border: 1px solid #ddd;
}

textarea {
	border: 1px solid #ddd;
}

#human {
	display: none;
}



/* SMALL SCREENS ---------------------------------------------------- */

@media only screen and (max-width: 800px) {

#header {
	text-align: center;
}

.inner {
	padding: 30px 10px;
}

.intro {
	font-size: 20px;
}

.logo {
	float: none;
}

#nav {
	float: none;
	padding-top: 10px;
	text-align: center;
}

#nav li {
	margin: 0 7px;
	font-size: 16px;
}

.headline {
	font-size: 42px;
	margin-top: 200px;
}

#footer {
	margin: 0 10px;
}

.copyright {
	float: none;
}

.soc {
	float: left;
}

.feature {
	max-width: 100%;
	float: none;
	margin: 1%;
}

.feature:last-child {
	margin-right: 1%;
}

.feature:first-of-type {
	margin-left: 1%;
}

.unit-80 {
	width: 100%;
} 


}
